<button {{action 'create'}}>Add</button>

<ul class="bar-list">
{{#each model as |bar|}}
	<li class="bar-list-item">
		{{#link-to 'bar' bar class="bar-list-item-name"}}
			{{bar.name}}
		{{/link-to}}
	</li>
{{/each}}
</ul>

{{!--
	This outlet is not needed unless creating a master/detail page
	{{outlet}}
--}}