<h2 id="title">Welcome to FooBar</h2>

<nav class="application-nav">
	<h1 class="invisible">Main Navigation</h1>
	<ul class="application-nav-list">
		<li>{{#link-to 'index'}} home {{/link-to}}</li>
		<li>{{#link-to 'bars'}} bars {{/link-to}}</li>
		<li>{{#link-to 'foos'}} foos {{/link-to}}</li>
	</ul>
</nav>

<main id="application-content" class="application-content">
	<p>a sample ember app</p>
	{{outlet}}
</main>
