<h2 id="title">Welcome to Ember</h2>

{{#link-to 'index'}} home {{/link-to}}
{{#link-to 'foo'}} foo {{/link-to}}
{{#link-to 'bars'}} bar {{/link-to}}
{{#link-to 'foobar'}} foobar {{/link-to}}

{{outlet}}
